<div class="card bg-secondary shadow border-0">
  <div class="card-header bg-white px-lg-5 py-sm-5">
    <div class="text-center text-muted mb-4">
      <small>Register with email</small>
    </div>
    <form role="form">
      <div class="form-group mb-3">
        <div class="input-group input-group-lg input-group-alternative mb-3">
          <span class="input-group-text"><i class="fas fa-circle-user"></i></span>
          <input class="form-control" placeholder="username" type="text" name="username" [(ngModel)]="username">
        </div>

        <div class="input-group input-group-lg input-group-alternative mb-3">
          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
          <input class="form-control" placeholder="Email Address" type="email" name="email" [(ngModel)]="email">
        </div>

        <div class="input-group input-group-lg input-group-alternative">
          <span class="input-group-text"><i class="fa fa-gamepad"></i></span>
          <input class="form-control" placeholder="Preferred Name" type="text" name="preferredName" [(ngModel)]="preferredName">
        </div>
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-primary my-4" (click)="register()">Sign Up</button>
      </div>
    </form>
  </div>

</div>
