<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <app-login-card></app-login-card>
      <div class="row mt-3">
        <div class="col-6">
          <a [routerLink]="['/forgot']" class="text-primary">
            <small>Forgot your account?</small>
          </a>
        </div>
        <div class="col-6 text-right">
          <a [routerLink]="['/users/register']" class="text-primary">
            <small>Create new account</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

