<div class="card bg-secondary shadow border-0">
  <div class="card-header bg-white px-lg-5 py-sm-5">
    <div class="text-center text-muted mb-4">
      <small>Sign in with credentials</small>
    </div>
    <form role="form">
      <div class="form-group mb-3">
        <div class="input-group input-group-lg input-group-alternative mb-3">
          <span class="input-group-text"><i class="fas fa-circle-user"></i></span>
          <input class="form-control" placeholder="username" type="text" name="username" [(ngModel)]="username">
        </div>

        <div class="input-group input-group-lg input-group-alternative" *ngIf="showPasswordInput">
          <span class="input-group-text"><i class="fa fa-unlock-alt"></i></span>
          <input class="form-control" placeholder="One Time Code" type="text" name="code" [(ngModel)]="code">
        </div>
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-primary mt-3" (click)="loginWithCredentials()">Login</button>
      </div>
    </form>
  </div>

</div>


